<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<div id="content">
    <h3>Start Services</h3>
    <input type="submit" name="run_air" value="Air">
    <input type="submit" name="run_rain" value="Rain"><br/>
    <input type="submit" name="run_solar" value="Solar">
    <input type="submit" name="run_wind" value="Wind"><br/>

    <h3>Log</h3>
</div>

<div id="content2">
    <h1>Weather Service Online Administration</h1>
    <h3>Status</h3>
</div>

</body>
</html>
