<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div id="content2">
        <p>inserted records: 10000</p>
        <!--
            - locations
            - #records
            - weather types
            - ...
        -->
    </div>
</body>
</html>
