<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>

<!--
  TODO control panel
  TODO api description section
-->

<div id="content">
    <h3>Services</h3>
    <ul>
        <li>GET <a href="./weather/api/v1/stations">list configured stations</a></li>
        <li>GET <a href="./weather/api/v1/execution?execution_id=1">list execution for given
            &quot;execution_id&quot;</a></li>
        <li>GET <a href="./weather/api/v1/executions">list all execution</a></li>
        <li>POST <a href="./weather/api/v1/update/all">trigger weather update</a></li>
    </ul>
</div>

<div id="content2">
    <h1>Hello, this is your weather service UI.</h1>
    <p>Here you can find some basic statistics, a control panel and ... no pot of gold.</p>
    <h3><a href="./html/dashboard">Dashboard</a></h3>
    <h3>Usage</h3>
    <ul>
        <li>general REST root is <a href="./weather/api/v1/">/weather/api/v1/</a></li>
        <li>choose one service and use the REST interface</li>
        <li>visit admin UI at <a href="./html/admin">/html/admin</a></li>
    </ul>
</div>


</body>
</html>
